WRITE_ENABLED=false
DRY_RUN=true
INSTALL_STATE=INSTALLED_DISABLED
TELEPHONY_ENABLED=false
TELEPHONY_PROVIDER=twilio
VOIP_PROVIDER=twilio
VOIP_API_BASE=
VOIP_API_KEY=
VOIP_WEBHOOK_SECRET=
VOIP_DEFAULT_FROM=+10000000000
VOIP_APP_DID=+10000000000
